<p>app works</p>

<!--<div id="simple"></div>-->

<div (click)="clickAnimation()" [@clickedState]="clickInfo"></div>

<hr>

<input type="number" (input)="numberEntered=$event.target.value"/>
<br><br>
<span [@numberEnteredT]="numberEntered==1 ? 'selected' : 'unselected'">1</span>
<span [@numberEnteredT]="numberEntered==2 ? 'selected' : 'unselected'">2</span>
<span [@numberEnteredT]="numberEntered==3 ? 'selected' : 'unselected'">3</span>
<span [@numberEnteredT]="numberEntered==4 ? 'selected' : 'unselected'">4</span>
<span [@numberEnteredT]="numberEntered==5 ? 'selected' : 'unselected'">5</span>
<span [@numberEnteredT]="numberEntered==6 ? 'selected' : 'unselected'">6</span>
<span [@numberEnteredT]="numberEntered==7 ? 'selected' : 'unselected'">7</span>
<span [@numberEnteredT]="numberEntered==8 ? 'selected' : 'unselected'">8</span>
<span [@numberEnteredT]="numberEntered==9 ? 'selected' : 'unselected'">9</span>